.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.hero img {
  width: 250px;
  border-radius: 50%;
  margin-top: 150px;
}

.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 60px;
  font-weight: 600;
}

.hero h1 span {
  background: linear-gradient(to right, #ee657c 10%, #2a8e2a 50%, #5858ee 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  width: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 50px;
  transition: 0.5s;
}

.hero-connect a {
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(to right, #ee657c 10%, #2a8e2a 50%, #5858ee 100%);
  cursor: pointer;

}

.hero-resume a {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
  border: 2px solid #ffff;
  cursor: pointer;
  color: #fff;
}

.hero-connect:hover a {
  border: 2px solid #fff;
}

.hero-resume a:hover {
  border-color: #f472be;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}

.hero h1 span {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid black;
  animation:
    typing 4.5s steps(100, end),
    blink-caret 0.75s step-end infinite;
  width: 100%;
}


@media(max-width:768px) {
  .hero img {
    margin-top: 110px;
    width: 150px;
  }

  .hero h1 {
    margin-top: 40px;
    width: 450%;
    font-size: 40px;
  }

  .hero p {
    width: 60%;
    font-size: 18px;
    line-height: 30px;
    margin: 10px 0;
  }

  .hero-action {
    flex-direction: column;
    width: 100%;
    gap: 14px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .hero-connect {
    margin-bottom: 15px;
    padding: 8px 18px;
    border-radius: 40px;
  }

  .hero-resume {
    padding: 8px 18px;
    border-radius: 40px;
  }

}
